html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	color: #19141f;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

body {
	height: 100vh;
	margin: 0;
	display: grid;
	background-color: #f3f4f6;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 40px;
}

p {
	max-width: 75ch;
}

section > div {
	font-size: 1.25rem;
	font-weight: 500;
}

a {
	background-color: transparent;
	color: #7794c1;
}

a:hover {
	color: #c0c2ce;
}

/* a:visited {
	color: #ce2250;
} */

h1 {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 2em;
	letter-spacing: 0.1em;
	margin: 0.67em 0;
}

button,
input {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	overflow: visible;
	border: 1px solid #c0c2ce;
}

input {
	margin-top: 5px;
	border-radius: 3px;
	padding: 5px;
}

input:focus {
	outline: none;
	border: 1px solid #7794c1;
	box-shadow: 2px 2px 5px #c0c2ce;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
	display: grid;

	background-color: white;
	border: none;
	padding: 20px 30px 20px;
	margin: 40px -40px 40px;
	box-shadow: 0px 5px 5px #c0c2ce;
}

fieldset > div {
	display: flex;
	flex-direction: column;
	width: auto;
	margin: 0 5px 10px;
}

label {
	text-transform: uppercase;
}

aside {
	background-image: url(./imgs/gundam-unicorn.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	border-style: none;
	width: 60px;
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
}

.photo-src {
	color: white;
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-size: 0.85rem;
	text-align: center;
	text-shadow: 1px 0 10px #19141f;
}

.photo-src a {
	color: white;
}

.photo-src a:hover {
	color: #f2055c;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	appearance: auto;
	-webkit-appearance: button;
	text-transform: none;
	background-color: #7794c1;
	color: #f3f4f6;
	padding: 8px;
	border-radius: 5px;
}

button:hover {
	box-shadow: 2px 2px 2px #c0c2ce;
}

@media screen and (min-width: 776px) {
	body {
		grid-template-columns: 1fr 2fr;
	}

	fieldset {
		grid-template-columns: 1fr 1fr;
	}
}
